<div class="header">
    <div class="logo-container"><img src="http://www.365scores.com/LPResources/img/logo_77x42.png" class="logo-desktop">
    </div>
    <!-- Mobile Version Nav Button -->
    <div class="mobile-navigation">
        <label class="mobile-nav" for="nav-mobile-btn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="hidden">mn</span>
        </label>
        <input type="checkbox" id="nav-mobile-btn">

        <ul class="main-nav-mobile">
            <li>
                <input type="checkbox" class="mobile-sub-nav" id="mobile-sub-scores">
                <label for="mobile-sub-scores">Scores</label>
            </li>
            <li>
                <input type="checkbox" class="mobile-sub-nav" id="mobile-sub-our-news">
                <label for="mobile-sub-our-news">News</label>
            </li>
            <li>
                <input type="checkbox" class="mobile-sub-nav" id="mobile-sub-transfers">
                <label for="mobile-sub-transfers">Transfers</label>
            </li>
            <li>
                <input type="checkbox" class="mobile-sub-nav" id="mobile-sub-highlights">
                <label for="mobile-sub-highlights">Highlights</label>
            </li>
            <li>
                <input type="checkbox" class="mobile-sub-nav" id="mobile-sub-videos">
                <label for="mobile-sub-videos">Videos</label>
            </li>
            <li>
                <input type="checkbox" class="mobile-sub-nav" id="mobile-sub-my-profile">
                <label for="mobile-sub-my-profile">My Profile</label>
            </li>
        </ul>
    </div>
</div>
<div class="side-nav">
    <div class="nav-links">
        <nav class="navbar">
            <ul>
                <li>Scores</li>
                <li>News</li>
                <li>Transfers</li>
                <li>Highlights</li>
                <li>Videos</li>
                <li>My Profile</li>
            </ul>
        </nav>
    </div>
</div>
<div class="main">
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>




